

.embed-wrapper
  = form_for(@message, :html => { :class => 'embed-fields' }) do |f|
    %fieldset
      .inset-label
        %label To: 
      = text_field_tag :recipients, nil, :class => "req", :id => "recipients_list"
      = text_area_tag :description, nil, :placeholder => "Write your message here...", :class => "req", :rows => "6"
    .button-wrapper
      = f.submit "Post", :class => "submit"

