

%input{:id => "post_box", :type => "checkbox", :checked => false}
.post-box
  .post-wrapper
    = render :partial => 'messages/post'

- @messages.each do |message|
  = render "summary", :content => message.content, :message => message

